In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import warnings 
warnings.filterwarnings('ignore')

In [2]:
glass_class=pd.read_csv("glass.csv")
glass_class

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [3]:
glass_class.shape

(214, 10)

In [4]:
glass_class.dtypes

RI      float64
Na      float64
Mg      float64
Al      float64
Si      float64
K       float64
Ca      float64
Ba      float64
Fe      float64
Type      int64
dtype: object

In [5]:
glass_class.isna().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [6]:
X=glass_class.drop(labels='Type',axis=1)
y=glass_class[["Type"]]

In [7]:
X.mean()

RI     1.518365
Na    13.407850
Mg     2.684533
Al     1.444907
Si    72.650935
K      0.497056
Ca     8.956963
Ba     0.175047
Fe     0.057009
dtype: float64

In [8]:
X.std()

RI    0.003037
Na    0.816604
Mg    1.442408
Al    0.499270
Si    0.774546
K     0.652192
Ca    1.423153
Ba    0.497219
Fe    0.097439
dtype: float64

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=12,stratify=y)

In [10]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [11]:
model=KNeighborsClassifier()
model.fit(X_train,y_train)
y_pred_train=model.predict(X_train)
print("Accuracy Score  : ",accuracy_score(y_train,y_pred_train))

Accuracy Score  :  0.7543859649122807

In [12]:
model=KNeighborsClassifier(n_neighbors=5)
model.fit(X_test,y_test)
y_pred_test=model.predict(X_test)
print(" Accuracy Score  : ",accuracy_score(y_test,y_pred_test))

 Accuracy Score  :  0.627906976744186

In [13]:

for i in range(1,31,2):
    model=KNeighborsClassifier(n_neighbors=i)
    model.fit(X_train,y_train)
    y_pred_train=model.predict(X_train)
    print("For ",i," Neighbors Accuracy Score  : ",accuracy_score(y_train,y_pred_train))

For  1  Neighbors Accuracy Score  :  1.0
For  3  Neighbors Accuracy Score  :  0.7894736842105263
For  5  Neighbors Accuracy Score  :  0.7543859649122807
For  7  Neighbors Accuracy Score  :  0.7076023391812866
For  9  Neighbors Accuracy Score  :  0.7076023391812866
For  11  Neighbors Accuracy Score  :  0.6842105263157895
For  13  Neighbors Accuracy Score  :  0.6842105263157895
For  15  Neighbors Accuracy Score  :  0.6608187134502924
For  17  Neighbors Accuracy Score  :  0.6666666666666666
For  19  Neighbors Accuracy Score  :  0.6783625730994152
For  21  Neighbors Accuracy Score  :  0.6666666666666666
For  23  Neighbors Accuracy Score  :  0.6666666666666666
For  25  Neighbors Accuracy Score  :  0.6608187134502924
For  27  Neighbors Accuracy Score  :  0.6549707602339181
For  29  Neighbors Accuracy Score  :  0.631578947368421

In [14]:

for i in range(1,31,2):
    model=KNeighborsClassifier(n_neighbors=i)
    model.fit(X_test,y_test)
    y_pred_test=model.predict(X_test)
    print("For ",i," Neighbors Accuracy Score  : ",accuracy_score(y_test,y_pred_test))

For  1  Neighbors Accuracy Score  :  1.0
For  3  Neighbors Accuracy Score  :  0.7209302325581395
For  5  Neighbors Accuracy Score  :  0.627906976744186
For  7  Neighbors Accuracy Score  :  0.5116279069767442
For  9  Neighbors Accuracy Score  :  0.46511627906976744
For  11  Neighbors Accuracy Score  :  0.4883720930232558
For  13  Neighbors Accuracy Score  :  0.5348837209302325
For  15  Neighbors Accuracy Score  :  0.4883720930232558
For  17  Neighbors Accuracy Score  :  0.5348837209302325
For  19  Neighbors Accuracy Score  :  0.4883720930232558
For  21  Neighbors Accuracy Score  :  0.4418604651162791
For  23  Neighbors Accuracy Score  :  0.4186046511627907
For  25  Neighbors Accuracy Score  :  0.3488372093023256
For  27  Neighbors Accuracy Score  :  0.37209302325581395
For  29  Neighbors Accuracy Score  :  0.32558139534883723