In [24]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings("ignore")

In [2]:
bank = pd.read_csv("bank-full (1).csv", sep=";")

In [3]:
bank.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [4]:
bank.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [5]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [6]:
bank = bank[["age","job","marital","education","default","balance",'housing',"loan","y"]]

In [7]:
bank_code = bank.copy()

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [9]:
bank_code["job"] = le.fit_transform(bank_code["job"])
bank_code["marital"] = le.fit_transform(bank_code["marital"])
bank_code["education"] = le.fit_transform(bank_code["education"])
bank_code["default"] = le.fit_transform(bank_code["default"])
bank_code["housing"] = le.fit_transform(bank_code["housing"])
bank_code["loan"] = le.fit_transform(bank_code["loan"])
bank_code["y"] = le.fit_transform(bank_code["y"])

In [10]:
bank_code

       age  job  marital  education  default  balance  housing  loan  y
0       58    4        1          2        0     2143        1     0  0
1       44    9        2          1        0       29        1     0  0
2       33    2        1          1        0        2        1     1  0
3       47    1        1          3        0     1506        1     0  0
4       33   11        2          3        0        1        0     0  0
...    ...  ...      ...        ...      ...      ...      ...   ... ..
45206   51    9        1          2        0      825        0     0  1
45207   71    5        0          0        0     1729        0     0  1
45208   72    5        1          1        0     5715        0     0  1
45209   57    1        1          1        0      668        0     0  0
45210   37    2        1          1        0     2971        0     0  0

[45211 rows x 9 columns]

In [11]:
x= bank_code.drop(labels="y",axis=1)
y= bank_code[["y"]]

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, Lasso,Ridge
from sklearn.metrics import accuracy_score,confusion_matrix,consensus_score

In [33]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=12)
mod_log = LogisticRegression()
mod_lasso = Lasso(alpha=1)
mod_rid = Ridge(alpha=1)

In [34]:
mod_log.fit(x_train,y_train)
mod_lasso.fit(x_train,y_train)
mod_rid.fit(x_train,y_train)

Ridge(alpha=1)

In [38]:
def ans(x_train,x_test,y_train,y_test):
    print("")

LogisticRegression()

In [18]:
y_Pred_train = mod.predict(x_train)

In [20]:
accuracy_score(y_Pred_train,y_train)

0.8826034063260341

In [21]:
confusion_matrix(y_Pred_train,y_train)

array([[31922,  4239],
       [    7,     0]], dtype=int64)

In [22]:
y_pred_test = mod.predict(x_test)

In [23]:
accuracy_score(y_pred_test,y_test)

0.883777507464337